<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="fortuneService" class="com.luv2code.springdemo.service.HappyFortuneService">

    </bean>
    <bean id="TestDIFortuneService" class="com.luv2code.springdemo.service.TestDIFortune">

    </bean>
    <!--load properties file -->
    <context:property-placeholder location="classpath:sport.properties" />

    <bean id="myCoach" class="com.luv2code.springdemo.BaseballCoach">
        <!-- set up constructor injection-->
        <constructor-arg ref="TestDIFortuneService"/>
    </bean>
    <bean id="myCoachCricket" class="com.luv2code.springdemo.CricketCoach">
        <!-- set up constructor setter-->
        <property name="fortuneService" ref="fortuneService" />
      <!--read value from properties file-->
        <property name="emailAddress" value="${foo.email}"/>
        <!--inject literal -->
        <property name="name" value="kiarash-shamaii" />
    </bean>

</beans>